html {
	background: #DDD;
	height: 100%;
}
body {
	margin: 0;
	padding: 3em 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 1.5;
	cursor: default;
	overflow: overlay;
}
main {
	position: relative;
	max-width: 800px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 50px 20px;
	background: #FFF;
	border: 0.5px solid #AAA;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 20%) 0 4px 10px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: wrap-reverse;
	color: #fff;
	margin: 0 -50px;
	padding: 24px 50px;
	border-bottom: .5px solid #AAA;
	border-radius: 8px 8px 0 0;
	background: #5c6bc0 url(https://axelmwd.com/static/css/axel-logo.svg) no-repeat 95% 50%;
	background-size: auto 70px;
}
header + h2 {
	margin-top: 32px;
}
h1 {
	margin: 0 20px 4px -3px;
}
@media screen and (max-width: 768px) {
	body {
		padding: 0
	}
	main,
	header {
		padding-left: 32px;
		padding-right: 32px;
	}
	header {
		margin-left: -32px;
		margin-right: -32px;
	}
	h1 {
		margin: 8px 0px -4px -3px;
	}
}
h1,
h2,
h3,
h4,
strong {
	font-weight: 500;
}
h2 {
	margin-top: 2em;
	font-size: 1.5em !important;
}
h3 {
	margin: 24px 0 4px;
}
h3 span {
	font-weight: 300;
}
h4 {
	font-size: 20px;
	margin: 50px 0 12px;
}
h1 + p {
	margin-top: 40px;
}
ol, ul {
	padding-left: 16px;
	margin: 0;
}
ul {
	margin-top: 8px;
}
li {
	padding-left: 4px;
	margin-bottom: 6px;
}
p {
	margin-top: 0;
}
a {
	color: inherit;
	transition: color .2s;
}
a:hover {
	color: #ff5c7a;
}
blockquote {
	margin-top: 0.5em;
	font-style: italic;
}
blockquote::before {
content: '« ';
}
blockquote::after {
content: ' »';
}
.underline {
	border-bottom: 2px solid #01a88e;
	padding: 1px 0;
}
.portfolio {
	color: #24af29;
	margin-top: 70px;
}
.portfolio p {
	margin-bottom: 8px;
}
.comment {
	font-size: 17px;
	color: #24af29;
	margin-bottom: 32px;
}
.comment .resume {
	margin-bottom: 10px;
}
.comment.with-icons {
	line-height: 28px;
}
.comment p {
	margin-bottom: 0.6em;
}
li.comment {
	list-style: none;
	margin: 10px 0 20px;
}
.comment ol {
	margin: 0.8em 0;
}
.metrics {
	margin: 60px 0 16px;
}
.icon + p {
	margin-top: 4px;
}
.icon::before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 24px;
	margin-bottom: -3px;
	background-size: contain !important;
}
.no-wrap {
	white-space: nowrap;
}
.icon-pdf::before {
	background: no-repeat url("data:image/svg+xml,%3Csvg height='64' preserveAspectRatio='xMidYMid' width='49' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 16.8V59a5 5 0 0 1-5 5.1H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h27.1L49 16.8Z' style='fill-rule:evenodd;fill:%23cb0606'/%3E%3Cpath d='M49 15.9V18H35.2c-2.9 0-4.2-2.3-4.2-5.2V0h2.1L49 15.9Z' style='fill:%23fb8d8d;fill-rule:evenodd'/%3E%3Cpath d='M37.6 34a4 4 0 0 0-1.3-.2c-.4 0-.7.1-.9.3-.2.2-.3.5-.3 1v1h2v1.8h-2v7.6h-2.3V38h-1.2V36h1.2v-.9c0-1.2.3-2 .9-2.5.6-.6 1.4-.8 2.6-.8.6 0 1.1 0 1.8.2l-.5 2Zm-9.8 10.6c-.4.4-.9.7-1.4.9a4 4 0 0 1-1.6.3c-1.2 0-2.2-.4-2.8-1.3a6 6 0 0 1-1-3.6 6 6 0 0 1 1.1-3.8c.7-.9 1.7-1.3 3-1.3.4 0 .9 0 1.3.3.5.1.9.4 1.2.7V32H30v13.4h-2.1v-.9Zm-.2-6-1-.5c-.3-.2-.7-.3-1-.3-.7 0-1.2.3-1.6.8-.3.6-.5 1.3-.5 2.2 0 1 .1 1.7.4 2.2.4.5.8.8 1.5.8l1.2-.3 1-.7v-4.1Zm-10 6.6a4 4 0 0 1-4.8-.4v4.3h-2.3v-13h2.2v.9c.4-.4.9-.7 1.3-.9a4 4 0 0 1 1.7-.3c1.2 0 2.1.4 2.7 1.2.7.9 1 2.1 1 3.7 0 1-.2 2-.5 2.7-.3.8-.7 1.4-1.3 1.8Zm-1.1-6.6c-.3-.5-.8-.8-1.4-.8a3 3 0 0 0-1.2.3 4 4 0 0 0-1 .7v4.1l.9.6c.3.2.7.3 1 .3.7 0 1.2-.3 1.6-.9.4-.5.6-1.2.6-2.1a4 4 0 0 0-.5-2.2Z' style='fill:%23fff;fill-rule:evenodd'/%3E%3C/svg%3E");
}
.icon-jpg::before {
	background: no-repeat url("data:image/svg+xml,%3Csvg preserveAspectRatio='xMidYMid' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 64'%3E%3Cpath d='M49 16.8V59a5 5 0 0 1-5 5.1H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h27.1L49 16.8Z' style='fill-rule:evenodd;fill:%23e28500'/%3E%3Cpath d='M37 48.2c-.8.6-2 1-3.8 1-1.4 0-2.7-.4-3.7-1l.7-1.8c1 .4 2 .7 3 .7s1.6-.2 2-.4c.4-.3.6-.8.6-1.4v-.8a4 4 0 0 1-2.8 1c-1.2 0-2.1-.4-2.8-1.2-.6-.8-1-2-1-3.6 0-1 .2-1.8.5-2.6.3-.7.8-1.3 1.4-1.7.6-.4 1.3-.6 2.2-.6.5 0 1 0 1.5.3.5.2.9.5 1.2.8l.3-.9h1.8v9.4c0 1.2-.4 2.2-1.2 2.8Zm-1.2-9.5c-.7-.6-1.4-.9-2.1-.9-.6 0-1 .3-1.5.8-.4.5-.6 1.2-.6 2 0 1 .2 1.7.6 2.2.3.5.8.7 1.3.7.8 0 1.6-.3 2.3-1v-3.8ZM26 45.2c-.5.4-1.2.6-2 .6-1 0-2-.3-2.7-1v4.3H19v-13h2.2v.9c.4-.4.9-.7 1.4-.9a4 4 0 0 1 1.6-.3c1.2 0 2.2.4 2.8 1.2.6.9 1 2.1 1 3.7 0 1-.2 2-.5 2.7-.3.8-.8 1.4-1.4 1.8Zm-1-6.6c-.4-.5-.9-.8-1.5-.8a3 3 0 0 0-1.2.3 4 4 0 0 0-1 .7v4.1l1 .6c.3.2.6.3 1 .3.7 0 1.2-.3 1.6-.9.3-.5.5-1.2.5-2.1a4 4 0 0 0-.5-2.2Zm-9.5-4c-.5 0-.8 0-1-.3-.2-.2-.3-.5-.3-.8 0-.5.1-.8.3-1l1-.2c.5 0 .8 0 1 .2.2.2.3.5.3 1 0 .4-.1.7-.3.9-.2.2-.6.2-1 .2ZM14.4 36h2.4v10c0 1-.3 1.9-.8 2.4s-1.3.7-2.5.7a8 8 0 0 1-2-.3l.5-2 1.4.3c.5 0 .8-.2.9-.5l.1-1.4V36Z' style='fill:%23fff;fill-rule:evenodd'/%3E%3Cpath d='M49 15.9V18H35.2c-2.9 0-4.2-2.3-4.2-5.2V0h2.1L49 15.9Z' style='fill:%23ffcf8b;fill-rule:evenodd'/%3E%3C/svg%3E");
}
